<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="//unpkg.com/alpinejs" defer></script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="icon" href="/favicon.ico"/>
    <title><%= title %></title>
    <meta name="description" content="<%= (!!locals.description) ? description : site.description %>" />
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:description" content="<%= (!!locals.description) ? description : site.description %>"/>
    <meta property="og:locale" content="<%= site.locale %>"/>
    <meta property="og:site_name" content="<%= site.site_name %>"/>
    <link rel="canonical" href="<%= `${site.url}${page.url}` %>" />
    <%- include('webpack.ejs') %>

    <% if (page.url == "/") { %>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on('init', (user) => {
            if (!user) {
              window.netlifyIdentity.on('login', () => {
                document.location.href = '/admin/'
              })
            }
          })
        }
        </script>
    <% } %>
</head>
<body class="tw-antialiased tw-w-full tw-text-gray-700">
<header class="tw-bg-green-700 tw-text-white">
    <div class="tw-bg-green-900 tw-flex tw-justify-end">
        <ul class="tw-flex tw-gap-x-5 tw-p-2">
            <li>
                <a href="/cabinet-psychologie-montpellier/index.html"
                   class="tw-block hover:tw-text-green-200"
                >
                    Le cabinet</a>
            </li>
            <li>
                <a href="/tarif-psychologue/index.html"
                   class="tw-block hover:tw-text-green-200"
                >
                    Tarifs</a>
            </li>
            <li>
                <a href="/laure-yaakoubi-psychologue/index.html"
                   class="tw-block hover:tw-text-green-200"
                >
                    Qui suis-je ?</a>
            </li>
        </ul>
    </div>
    <div class="tw-grid md:tw-grid-cols-12 tw-container tw-mx-auto tw-relative">
        <a href="/"
           class="tw-block tw-p-3 md:tw-cursor-pointer md:tw-col-span-4"
        >
            <span class="tw-block tw-text-2xl md:tw-text-3xl">Laure Meslé-Yaakoubi</span>
            <span class="tw-italic">Psychologue à Montpellier</span>
        </a>
        <div x-data="{ opened: false }"
             x-title="navigation"
             class="md:tw-col-span-8 md:tw-flex md:tw-items-center md:tw-justify-end"
        >
            <button class="c-the-topbar__menu-trigger c-the-topbar__hamburger c-the-topbar__hamburger--collapse md:tw-hidden tw-inline-flex tw-absolute tw-right-6 tw-top-3"
                    type="button"
                    aria-label="Menu"
                    @click="opened = !opened"
            >
            <span class="c-the-topbar__hamburger-box">
              <span class="c-the-topbar__hamburger-inner"></span>
            </span>
            </button>
            <nav class="c-nav tw-hidden tw-relative md:tw-block"
                 :class="{ 'is-opened': opened }"
            >
                <ul class="tw-p-10 md:tw-p-0 tw-flex tw-flex-col md:tw-flex-row tw-flex-1 tw-gap-y-5 md:tw-gap-y-0 tw-gap-x-4 md:tw-text-lg">
                    <li>
                        <a href="/psychotherapie/index.html"
                           class="tw-block hover:tw-text-green-200"
                        >
                            Psychothérapies</a>
                    </li>
                    <li>
                        <a href="/psychologue-enfants-montpellier/index.html"
                           class="tw-block hover:tw-text-green-200"
                        >
                            Enfants</a>
                    </li>
                    <li>
                        <a href="/psychologue-adolescents-montpellier/index.html"
                           class="tw-block hover:tw-text-green-200"
                        >
                            Adolescents</a>
                    </li>
                    <li>
                        <a href="/therapie-couple-montpellier/index.html"
                           class="tw-block hover:tw-text-green-200"
                        >
                            Couples</a>
                    </li>
                    <li>
                        <a href="/soutien-parentalite/index.html"
                           class="tw-block hover:tw-text-green-200"
                        >
                            Parents</a>
                    </li>
                    <li>
                        <a href="/analyse-des-pratiques/index.html"
                           class="tw-block hover:tw-text-green-200"
                        >
                            Analyse des pratiques</a>
                    </li>
                    <li>
                        <a href="/bilan-psychologique-montpellier/index.html"
                           class="tw-block hover:tw-text-green-200"
                        >
                            Bilans</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<%- content %>
<footer class="tw-pt-5 tw-bg-green-800 tw-text-white">
    <div class="tw-container tw-mx-auto tw-px-5 md:tw-px-0 tw-grid md:tw-grid-cols-2 tw-gap-10">
        <div itemscope="" itemtype="http://schema.org/LocalBusiness" class="tw-flex tw-flex-col tw-gap-y-3">
                <h2 itemprop="name" class="tw-text-center tw-text-2xl">Laure Meslé-Yaakoubi</h2>
                <span itemprop="branchOf">Psychologue</span>
                <p>Accompagnement psychologique, psychothérapies. Enfants, adolescents, adultes. Consultations sur RV</p>
                <div itemprop="address"
                     itemscope=""
                     itemtype="http://schema.org/PostalAddress"
                     class="tw-bg-green-900 tw-p-3"
                >
                    <span itemprop="streetAddress" class="tw-block">2 bis rue Pitot</span>
                    <span itemprop="postalCode" class="tw-block">34000</span>
                    <span itemprop="addressLocality" class="tw-block">Montpellier</span>
                    <span itemprop="telephone" class="tw-block">06.16.03.40.37</span>
                </div>
            </div>

        <div>
            <h2 class="tw-text-center tw-text-2xl tw-mb-5">Psychologue à Montpellier</h2>
            <p>Diplômée de l'Université Paris VIII, spécialisée en psychopathologie de l'Enfant et de l'Adolescent.</p>
            <div class="tw-bg-green-900 tw-p-3 tw-mt-5">
                <p>Numéro ADELI : <span class="numadesiret">34 93 16 265</span></p>
                <p>Numéro SIRET : <span class="numadesiret">53145058300020</span></p>
            </div>
        </div>
    </div>
    <div class="tw-bg-black tw-mt-5 tw-px-5 md:tw-px-0">
        <p class="tw-container tw-mx-auto">Tous droits réservés, Laure Meslé-Yaakoubi, 2016 - 2021 |
            <a href="mentions-legales.html"
               class="tw-underline">
                Mentions légales
            </a>
        </p>
    </div>
</footer>
</body>
</html>
